<form data-bind="submit: loadExchangeRate">
  <div class="form-group col-sm-3">
    <label for="date">Date</label>
    <input data-bind="value: date" id="date" class="form-control" placeholder="2015-09-23" />
  </div>
  <div class="form-group col-sm-3">
    <label for="from_currency">From currency</label>
    <input data-bind="value: from_currency" id="from_currency" class="form-control" placeholder="USD" />
  </div>
  <div class="form-group col-sm-3">
    <label for="to_currency">To currency</label>
    <input data-bind="value: to_currency" id="to_currency" class="form-control" placeholder="GBP" />
  </div>
  <div class="form-group col-sm-3">
    <label for="amount">Amount</label>
    <input data-bind="value: amount" id="amount" class="form-control" placeholder="100" />
  </div>
  <div class="form-group col-sm-3">
    <button name="submit" type="submit" value="submit" class="btn btn-primary">Calculate</button>
  </div>
</form>
