<!DOCTYPE html>
<html>
<head>
  <title>Freeagent currency calculator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag do %>
  $(document).ready(function() {
    window.$M = new (Freeagent.<%= params[:controller].capitalize %> || Freeagent.Base)();
    if (typeof $M.<%= params[:action] %> === 'function') {
      return $M.<%= params[:action] %>.call();
    }
  });
  <% end %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
