<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Freeagent currency calculator" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "superhero", :media => "all" %>

    <%= yield(:page_stylesheet) if content_for?(:page_stylesheet) %>

  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Freeagent currency calculator</a>
        </div>
        <div class="navbar-collapse collapse">
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>It's time to convert</h1>
        <p>
          Select a date, from/to currencies end enter an amount to convert. Then click the calculate button. 
          <br>
          All data is refreshed at least once a day.
        </p>
      </div>

      <div data-bind="if: status">
        <div class="alert" data-bind="css: statusColor()">
          <span data-bind="text: status"></span>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-warning entry-form">
            <div class="panel-heading">
              <h3 class="panel-title">Entry form</h3>
            </div>
            <div class="panel-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-warning result">
            <div class="panel-heading">
              <h3 class="panel-title">Result</h3>
            </div>
            <div class="panel-body">
              <input data-bind="value: result" id="result" class="form-control" />
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "superhero" %>
    <%= javascript_tag do %>
    $(document).ready(function() {
      window.$M = new (Freeagent.<%= params[:controller].capitalize %> || Freeagent.Base)();
      if (typeof $M.<%= params[:action] %> === 'function') {
        return $M.<%= params[:action] %>.call();
      }
    });
    <% end %>
    <%= yield(:page_javascript) if content_for?(:page_javascript) %>
  </body>
</html>
